
<div class="text-cener">
    <h1 class="text-info">InquiaryConfirmation</h1>
    <p>We have recived your inquiary and someone from our team will contact you!</p>
    <img src="~/images/lara.png" style="width:50%"/>
</div>

